.peep-image {
    display: inline-block;
    padding-top: 5px;
    max-width: 150px;
    display: center;
}
.people-spot {
    display: inline-block;
    margin: 7px;
}
.people-spot {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    text-align: center;
    /*text: wrap;*/
}
