.peep-image {
    display: inline-block;
    /*max-height: 150px;*/
    max-width: 150px;
    display: center;
}
.people-spot {
    display: inline-block;
    margin: 7px;
}
.peeps-container {
    border: 1px solid red;
}
.people-spot {
    border: 1px solid red;
    width: 200px;
    height: 250px;
    text-align: center;
    /*text: wrap;*/
}
